<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Story</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  
  
  <div class = 'header-contianer'>
      <header class = 'header_sw' >
        <p class = 'text-white'>Shengqian Wang</p>
      </header>
  </div>
  
  


  <main>
    <div class="text-image-container">
      <div class="centered">
        <h1 id="title">Greenlandic Energy System </h1>
        <h2 id="sub-title"></h2>
      </div>
      <div class="background-page">
          <img src="data/img/Colorful-nuuk2.jpg" id='background-pic'/>
      </div>
    </div>
  


    <div class="text-image-container">
      <div class="centered">
        <h1 id="title">The history of Greenland's Energy system</h1>
        <h2 id="sub-title">A brief study on how did greenland people get energy</h2>
      </div>
      <div class="background-page">
          <img src="data/img/60EB6AE0-F88B-448C-B13851461376729A_source.webp" id='background-pic'/>
      </div>
    </div>

    <div class="map-container">
      <div class="map" id="map"></div>
    </div>
    <section class="slide-section">
      <article class="slide">
        <h1>Greenland before 1993</h1>
        <img id = 'append' src="data/img/greenland-old-pictures.jpg" >
        <p>Prior to 1993, Greenland's remote communities predominantly relied on imported diesel, mainly from Denmark, for decentralized electricity generation. Each settlement operated its own isolated microgrid powered by diesel generators, due to the island's vast and challenging geography. This approach ensured localized resilience but depended heavily on external fuel sources, posing economic and environmental challenges. While the potential for renewable energy was recognized, diesel remained the primary power source until the early 1990s.</p>
      </article>

      <article class="slide">
        <h2>The First Hydro Power Plant</h2>
        <p>The Buksefjord hydroelectric power plant is the first and largest hydroelectric power plant in Greenland. It was built by Nuuk-Kraft and it is operated by Nukissiorfiit, Greenland's national energy company. Construction of the plant was approved by the Parliament of Greenland in 1990. It was commissioned in 1993.</p>
        <p>Originally, the plant had two turbines with capacity of 15 MW each. In 2008, a third turbine with the same capacity was installed. The generated power is transferred to Nuuk over the 57-kilometre (35 mi) long Buksefjord–Nuuk power line, which includes the Ameralik Span, the world's longest span.</p>
      </article>

      <article class="slide" id="consumer">
        <h2>All 5 Operational Dams</h2>
        <p>Since 1993, Greenland has built five major hydroelectric power plants using its abundant rivers and glaciers. they are:</p>
        <p>Buksefjord hydroelectric power plant at Nuuk, 45 MW from 1993</p>
        <p>Tasiilaq hydropower plant in Tasiilaq, 1.2 MW since 2005</p>
        <p>Qorlortorsuaq Dam in Qaqortoq, 7.6 MW since 2007</p>
        <p>Sisimiut Hydro Power Plant in Sisimiut, 15 MW since2010</p>
        <p>Ilulissat Hydropower plant in Ilulissat, 22.5 MW since 2014</p>
        <p>Together they make up 80% of Greenland's electricity generation today and represent Greenland's ambitious shift from reliance on diesel to renewable energy, providing a huge amount of power to various regions of the vast island.</p>
      </article>

  
      
      <article class="slide" id="Buksefjord">
        <h2>All Potential Dams Site</h2>
        <p>The attached map provides a detailed visual representation of the hydrological catchments across Greenland. Each catchment zone marked represents a significant area of hydroelectric potential, a testament to Greenland's capability in sustainable energy development.With vast ice sheets and glaciers, Greenland possesses a rapidly expanding hydroelectric potential, particularly in the context of global warming. As temperatures rise, the island's extensive ice reserves are melting which enlarging the hydroelectric potential. Energy experts and planners have identified Greenland's evolving hydrological landscape as an even more vital asset in the renewable energy realm. Alongside this narrative, an attached map delineates the specific locations of these potential catchments.</p>
      </article>

      <article class="slide" id="all-five-hydro">
        <h2>One More Note</h2>
        <p>With vast ice sheets and glaciers, Greenland possesses a rapidly expanding hydroelectric potential, particularly in the context of global warming. As temperatures rise, the island's extensive ice reserves are melting which enlarging the hydroelectric potential. Energy experts and planners have identified Greenland's evolving hydrological landscape as an even more vital asset in the renewable energy realm. Alongside this narrative, an attached map delineates the specific locations of these potential catchments.</p>
      </article>

      <article class="slide" id="all_potential">
        <img id = 'append' src="data/img/Buksefjord-hydroelectric-power-plant.jpg">
        <p>Buksefjord hydroelectric power plant</p>
      </article>
      
      <article class="slide" id="all_potential_site">
        <img id = 'append' src="data/img/Ilulissat-vatnsaflsvirkjun.jpg">
        <p>Ilulissat vatnsaflsvirkjun</p>
      </article>
    </section>
  </main>
      

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="js/index.js" type="module"></script>
</body>
</html>
