<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>History of Tallest Buildings in New York City</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <main>
    <div class="map-container">
      <div class="map" id="map"></div>
    </div>
    <section class="slide-section">
      <article class="slide" id="title-slide">
        <h1>History of Tallest Buildings <br>in New York City</h1>
        <p>The human desire to reach the sky has existed for centuries. Since humans can't fly, various civilizations historically attempted to touch the sky through construction. With the advancement of technology, we can now build even taller buildings.</p>
        <p>New York heralded to the world that the era of skyscrapers had begun. The world's tallest buildings were located in New York City between 1930 and 1973. Although the tallest building in the world is now located in Dubai, New York City is still renowned for its skyline.</p>
        <p>These have been the tallest buildings in New York City since 1931, attracting numerous tourists from around the world who come to observe this forest of concrete giants.</p>
      </article>

      <article class="slide" id="first-slide">
        <h1>Empire State Building <br>( 1931 - 1971 )</h1>
        <p>The name "Empire State" comes from New York's state nickname. It was built in 1931 and held the title of "the tallest building in the world" for 39 years. Its height is 381 meters excluding the antenna and 443 meters including the antenna.</p>
        <p>During the construction of the Empire State Building, it was the time of the Great Depression, which allowed for minimizing building costs with cheap labor and rebar.</p>
        <p>In the 1920s, most safety devices for construction were not mandatory. Although it's hard to imagine from today's perspective, it's surprising that only 5 out of 3500 workers died during construction.</p>
      </article>

      <article class="slide" id="second-slide">
        <h2>1 World Trade Center <br>( 1971 - 2001 )</h2>
        <p>One World Trade Center, also known as the "Twin Towers," was located at the center of Lower Manhattan. It held the title of the tallest building in the world from 1970 to 1973, with a height of 417 meters. There were a total of 7 World Trade Centers, and 1WTC and 2WTC were the most famous buildings among them.</p>
        <p>In 2001, the tragic September 11th Attack occurred. Instead of constructing another building, a national September 11 memorial was built on the exact location. The memorial, designed by the architect, was named "Reflecting Absence." Every year, on the afternoon of September 11th, the "Tribute of Light" emanates from the memorial to commemorate the casualties.</p>
      </article>

      <article class="slide" id="third-slide">
        <h2>One World Trade Center <br> ( 2001 - Present)</h2>
        <p>The New One World Trade Center is built near the previous One World Trade Center. It stands at a height of 541 meters, making it the tallest building in New York City today.</p>
        <p>The initial intention of the design was to replicate the previous One World Trade Center, but it faced opposition from the families of the deceased. The original plan was to finish construction by 2010, but due to the global financial crisis in 2008, it was postponed and completed in 2013.</p>
        <p>The bottom part of the building is constructed with thick concrete to prevent damage from possible acts of terror.</p>
      </article>
    </section>
  </main>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="js/index.js" type="module"></script>
</body>
</html>
