body {
  margin: 0;
  border-width: 0;
  box-sizing: border-box;
  height: 100vh;

  font-family: 'Rockwell', serif;
}



.header-contianer{
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
  background-color: #212529!important;
}

.text-white{
  color: #fff
}

.title-contianer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);  /* Semi-transparent black background */
  color: white; /* Text color */
  display: flex;
  justify-content: center; /* Horizontally center the text */
  align-items: center; /* Vertically center the text */
  opacity: 0;
  transition: opacity 0.3s; /* Smooth transition effect */
}

.text-image-container{
  position: relative;
  text-align: center;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered{
  position: absolute;
  top: 30%;
  width: 100%;
}

#title{
  color: #ffffff;
  font-family: 'Rockwell', serif;
  font-size: 60px;
  text-align: center;
}

#sub-title{
  color: #ccddee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
}



.header_sw{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  margin-left: 10%;
  list-style: none;
}

.map-container {
  position: sticky;
  top: 0;
  
  height: 100vh;
  z-index: 0;
}

.map {
  height: 100%;
}

.leaflet-tile {
  filter: brightness(0.55) contrast(5) saturate(0.25) opacity(80%) sepia(40%); /* Adjust these values as desired */
}

.background-page{
  height: 100vh;
  position: relative;
  top: 0;
  z-index: -1;
}

#background-pic {
  width:100%;
  height:100%;
  object-fit: cover;
}

.slide-section {
  position: relative;
  margin-top: -30vh;
  z-index: 100;
  pointer-events: none;
}

.slide {
  margin-top: 90vh;
  margin-bottom: 90vh;
  margin-left: auto;
  margin-right: 2rem;
  padding: 1rem;
  box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.5);
  border: 1px solid gray;
  border-radius: 0.5rem;
  pointer-events: initial;

  width: 25rem;

  background-color: white;
  color: black;
}

.slide:first-child {
  margin-top: 0;
}

.slide:last-child {
  margin-bottom: 40vh;
}

.slide-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 0.5rem;

  width: 100%;
}

.slide-nav-button {
  transition: all 0.1s;

  padding: 0;
  margin: 1rem;
  width: 4rem;
  height: 3rem;
  border: 1px solid #888;
  border-radius: 0.25rem;

  background-color: #eee;
  font-size: 1.5em;
}

.slide-nav-button:hover {
  background-color: #444;
  color: #fff;
}

.slide-nav-select {
  min-width: 0;
}

